.inputPlus{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 60px;
    &Value{
        border: 1px solid #B1B1B1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 9px 10px;
        font: 1rem/1.4 'Roboto', sans-serif;
        background-color: #DBE2EF;
        &::placeholder {
            color: #7b7b7b;

        }
    }
    &Button{
        border-radius: none;
        border: none;
        cursor: pointer;
        background: #3F72AF url('./image/plus.svg') no-repeat center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        &:hover{
            opacity: 0.7;
        }
    }
}